@import "src/styles/mixin";
@import "src/styles/variables";


.container {
  @include displayContentCenter();
  padding: 5px;
  gap: $gap_general;
  overflow-x: scroll;
  width: 800px;

  .item {
    @include displayContentCenter();
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    width: 500px;
    padding: 1%;
    cursor: pointer;

    img {
      height: 180px;
      width: 150px;
    }

    h5 {
      @include textColumns(2);
      @include titleH5();
    }

    h4 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;

      color: $green;
    }
  }
}