@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  @include displayContentCenter();
  align-items: flex-start;
  gap: $gap_general;

  .preview {
    flex-basis: 70%;

    .body {
      @include displayContentCenter();
      align-items: flex-start;
      flex-direction: column;
      padding: 20px;
      gap: $gap_general;

      div {
        @include boxBorder();
      }

      h1 {
        @include titleH1();
      }
    }
  }

  .navigation {
    flex-basis: 30%;
    height: 100vh;
    background-color: $back_card;
    @include boxBorder();
  }

  @media screen and (max-width: $news_container_width) {
    .body {
      flex-direction: column;
    }
  }

  @include paddingMobileMenu();
}