@import "src/styles/variables";
@import "src/styles/mixin";


.container {
  @include displayContentCenter() ;
  align-items: flex-start;
  height: auto;
  gap: 20px;

  img {
    height: 400px;
    width: 280px;
  }

  .body {
    @include displayContentCenter();
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;

    h3 {
      @include titleH3();
      color: $dark;
      text-align: justify;
    }

    h4 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }

    h5 {
      margin-top: 20px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: $green;
    }

    div {
      @include displayContentCenter();
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;

      p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
      }
    }

    button {
      color: $green;
      margin-top: 20px;

    }
  }

  @media screen and (max-width: $width_page) {
    & {

      h1 {
        font-size: 24px;
      }

      .body {
        h3 {
          font-size: 18px;
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }
}