@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  @include displayContentCenter();
  @include boxBorder();
  display: flex;
  align-items: flex-start;
  min-width: 150px;
  height: auto;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  transform: translate(0, +5%); // отступ от заголовка
  margin-top: 15px;
  background-color: $back;
  padding: 10px 0 10px 0;
  justify-content: flex-start;
  width: 100%;
}