@import "src/styles/mixin";
@import "src/styles/variables";


.container {
  @include displayContentCenter();
  padding: 5px;
  gap: $gap_general;
  overflow-x: scroll;
  width: 700px;

  .item {

    video {
      width: 300px;
      height: 300px;
    }

    h5 {
      @include titleH5();
    }
  }
}