@import "src/styles/mixin";
@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 400px; // не менять
  flex-grow: 10;
  overflow-y: scroll;
  height: 100vh;
  margin-top: 30px;

  h1 {
    @include titleH1();
  }

  .bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2% 1% 5% 2%;

    h1 {
      a {
        color: #1C1D25;
        text-decoration: none;

        @include hoverUnderLine();
      }
    }

    .body {
      @include displayContentCenter();
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      gap: 20px;
    }

    @media screen and (max-width: $width_menu) {
      & {
        margin-top: 60px;
      }
    }
  }
}