@import "src/styles/mixin";
@import "src/styles/variables";


.container {
  @include displayContentCenter();
  padding: 5px;
  gap: $gap_general;
  overflow-x: scroll;
  width: 800px;

  .item {
    cursor: pointer;

    img {
      width: 200px;
      height: 150px;
    }

    h5 {
      @include titleH5();
    }
  }
}