@import "src/styles/variables";
@import "src/styles/mixin";


.container {
  @include displayContentCenter();
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;

  div {

  }


  .title {
    width: 100%;
    @include labelStyle();
  }


  .year {
    @include labelStyle();
  }


  p {
    @include formErrorMessage();
  }

  div {
    input {
      @include inputStyle();
    }
  }


  textarea {
    @include inputStyle();
  }

}