@import "src/styles/variables";
@import "src/styles/mixin";


.container {
  @include displayContentCenter();
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;

  .textArea {
    @include labelStyle();
    width: 100%;

    textarea {
      resize: none;
    }
  }

  .direction {
    width: 50%;
    @include labelStyle();
  }

  .title {
    width: 100%;
    @include labelStyle();
  }

  .select {
    width: 50%;
    @include labelStyle();
  }


  .year {
    @include labelStyle();

    input {
      width: 100px;
    }

  }


  p {
    @include formErrorMessage();
  }

  div {
    input {
      @include inputStyle();
    }
  }


  textarea {
    @include inputStyle();
  }

}