@import "/src/styles/mixin";
@import "/src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 800px;
  padding: 2% 1% 5% 2%;
  background-color: $back;
}